<!-- start footer -->
<footer class="footer-one">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-sm-5">
                        <div class="logo mb-1">
                            <img src="~/archite/architetemplate/img/Logo.png" alt="logo">
                        </div>
                        <p class="p text-white fw-500 line-height-5 mt-15">
                            Welcome to our interior design agency! Our team of experienced designers and decorators is passionate about creating beautiful, functional spaces that enhance our clients' lives. Welcome to our interior design agency!
                        </p>
                        <h2 class="fw-700 text-white mt-30 footer-email">test@email.com</h2>
                    </div>
                    <div class="col-12 col-sm-2 offset-sm-1">
                        <div class="mt-5 mt-sm-0">
                            <ul class="d-flex flex-column gap-4">
                                <li><a class="fw-500 text-uppercase" href="index.html">home</a></li>
                                <li><a class="fw-500 text-uppercase" href="about.html">about</a></li>
                                <li>
                                    <a class="fw-500 text-uppercase" href="services.html">services</a>
                                </li>
                                <li>
                                    <a class="fw-500 text-uppercase" href="portfolio.html">portfolio</a>
                                </li>
                                <li><a class="fw-500 text-uppercase" href="blog.html">blog</a></li>
                                <li>
                                    <a class="fw-500 text-uppercase" href="contact.html">contact us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="d-flex align-items-start mb-30 mt-5 mt-sm-0">
                            <i class="fa-solid fa-location-dot brand-text d-inline-block mr-10 mt-2"></i>
                            <h6 class="h6 fw-400 line-height-4 footer-address">
                                901 N Pitt Str., Suite 170 Alexandria, NY, USA
                            </h6>
                        </div>
                        <div class="d-flex align-items-start mb-30">
                            <i class="fa-solid fa-phone-volume brand-text d-inline-block mr-10 mt-2"></i>
                            <h6 class="h6 fw-400 line-height-4 footer-address">
                                (406) 555-0120
                            </h6>
                        </div>
                        <div class="d-flex align-items-start mb-30">
                            <i class="fa-solid fa-phone-volume brand-text d-inline-block mr-10 mt-2"></i>
                            <h6 class="h6 fw-400 line-height-4 footer-address">
                                (406) 327-1246
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="mt-100 d-flex justify-content-between align-items-center flex-column flex-xl-row">
                    <div class="footer-one-social-container">
                        <a class="btn dark-btn mr-30 mb-4 mb-lg-0" href="https://facebook.com">
                            <span class="z-1 position-relative">Facebook</span>
                        </a>
                        <a class="btn dark-btn mr-30 mb-4 mb-lg-0" href="https://linkedin.com">
                            <span class="z-1 position-relative">LinkedIn</span>
                        </a>
                        <a class="btn dark-btn mr-30 mb-4 mb-lg-0" href="https://instagram.com">
                            <span class="z-1 position-relative">Instagram</span>
                        </a>
                        <a class="btn dark-btn mr-30 mb-4 mb-lg-0" href="https://twitter.com">
                            <span class="z-1 position-relative">Twitter</span>
                        </a>
                        <a class="btn dark-btn mb-4 mb-lg-0" href="https://dribble.com">
                            <span class="z-1 position-relative">Dribble</span>
                        </a>
                    </div>
                    <p class="p fw-500 line-height-3 footer-copyright-text pt-4 pt-xl-0">
                        Copyright 2023, All Right reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
