<!-- start header -->
<header class="header dark-header position-absolute top-0 left-0 z-3 w-100 pt-35">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="nav d-flex align-items-center justify-content-between">
                    <!-- logo -->
                    <div class="logo-container">
                        <a href="/Default/Index/">
                            <img class="header-logo" src="~/archite/architetemplate/img/Logo.png" alt="logo">
                        </a>
                    </div>
                    <div class="nav-menu d-flex align-items-center">
                        <ul class="header-menu d-none d-lg-flex flex-row align-items-center z-1 position-relative mr-35 menu">
                            <li>
                                <a class="menu-link text-uppercase fw-500" href="/Default/Index/">Ana Sayfa</a>
                            </li>
                            <li>
                                <a class="menu-link text-uppercase fw-500" href="/About/Index/">Hakkımızda</a>
                            </li>
                            <li>
                                <a class="menu-link text-uppercase fw-500" href="/Service/Index/">Hizmetlerimiz</a>
                            </li>
                            <li>
                                <a class="menu-link text-uppercase fw-500" href="/Portfolio/Index/">Projelerimiz</a>
                            </li>
                            <li>
                                <a class="menu-link text-uppercase fw-500" href="/Team/Index/">Takımımız</a>
                            </li>
                            <li>
                                <a class="menu-link text-uppercase fw-500" href="/Blog/Index/">Blog</a>
                            </li>
                            <li>
                                <a class="menu-link text-uppercase fw-500" href="/Contact/Index/">İletişim</a>
                            </li>

                        </ul>

                        <div class="desktop-menu-offcanvas position-relative">
                            <img class="off-canvas-icon" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" src="~/archite/architetemplate/img/MenuToggleIcon.png" alt="menu toggle icon">
                            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                                <div class="offcanvas-header">
                                    <img id="offcanvasRightLabel" class="header-logo offcanvas-title img-fluid" src="~/archite/architetemplate/img/LogoTwo.png" alt="logo">
                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <ul class="accordion-menu">
                                        <li>
                                            <div class="dropdownlink">
                                                <span class="text-uppercase">
                                                    <a href="/Default/Index/">Ana Sayfa</a>
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdownlink">
                                                <span class="text-uppercase">
                                                    <a href="/About/Index/">Hakkımızda</a>
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdownlink">
                                                <span class="text-uppercase">
                                                    <a href="/Service/Index/">Hizmetlerimiz</a>
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdownlink">
                                                <span class="text-uppercase">
                                                    <a href="/Portfolio/Index/">Projelerimiz</a>
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdownlink">
                                                <span class="text-uppercase">
                                                    <a href="/Team/Index/">Takımımız</a>
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdownlink">
                                                <span class="text-uppercase">
                                                    <a href="/Blog/Index/">Blog</a>
                                                </span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdownlink">
                                                <span class="text-uppercase">
                                                    <a href="/Contact/Index/">İletişim</a>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- end header -->