/*-------------------------------------------
Table of Index
-----------------------------------------------
1. Base css 
2. Header css
3. Banner css
4. About css
5. Count css
6. Services css
7. Features css
8. Testimonial css
9. Team css
10. Video css
11. Blog css
12. Projects css
13. Experience css
14. Footer css
15. Why Choose Us css
16. Page title carousel css
17. Work together css
18. Purposes css
19. FAQ css
20. Inner Page Banner css
21. Portfolio css
22. Contact css
23. Animations
24. Preloader css
----------------------------------------------- */


/* 1. Base css */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    box-sizing: border-box;
}

:root {
    --brand-color: #f68a0a;
    --black-color: #101010;
    --body-text-color: #535353;
    --body-text-color-two: #202020;
}

h1,
.h1 {
    font-size: 100px;
    margin: 0;
    font-weight: 700;
    font-family: "Space Grotesk", sans-serif;
}

h2,
.h2 {
    font-size: 52px;
    margin: 0;
    font-weight: 700;
    font-family: "Space Grotesk", sans-serif;
}

h3,
.h3 {
    font-size: 42px;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
}

h4,
.h4 {
    font-size: 28px;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
}

h5,
.h5 {
    font-size: 26px;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
}

h6,
.h6 {
    font-size: 22px;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
}

p,
.p {
    font-size: 18px;
    margin: 0;
    font-family: "Tajawal", sans-serif;
}

a {
    color: var(--black-color);
    font-family: "Space Grotesk", sans-serif;
    text-decoration: none;
    margin: 0;
    font-size: 16px;
}

a:focus {
    outline: 0px solid;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: var(--brand-color) !important;
}

a.dark-btn:hover,
a.brand-btn:hover,
a.light-btn:hover,
a.small-light-btn:hover {
    color: #fff !important;
}

.hover-img-container {
    overflow: hidden;
    position: relative;
    width: fit-content;
    transition: all 0.3s;
}

.client-hover-img-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.hover-img-container img,
.client-hover-img-container img {
    transition: all 2s;
    position: relative;
    display: inline-block;
}

.hover-img-container:hover img,
.client-hover-img-container:hover img {
    transform: scale3d(1.2, 1.2, 1.2);
    z-index: 1;
}

.hover-img-container:hover::after {
    top: 20px;
    left: 20px;
}

.hover-img-container:hover::before {
    bottom: 20px;
    right: 20px;
}

.img-no-hover-effect:hover {
    transform: scale3d(1, 1, 1);
}

button {
    outline: 0px solid;
    text-decoration: none;
}

button:focus {
    outline: 0px solid;
    text-decoration: none;
}

.outline-0 {
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.brand-text {
    color: var(--brand-color);
}

.dark-text {
    color: var(--black-color);
}

.body-text {
    color: var(--body-text-color);
}

.body-text-two {
    color: var(--body-text-color-two);
}

.section-padding-top {
    padding-top: 80px;
}

.section-padding-top-xl {
    padding-top: 160px;
}

.section-padding-bottom {
    padding-bottom: 80px;
}

.section-padding-bottom-xl {
    padding-bottom: 160px;
}


/* scrollbar design */


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #fff;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--brand-color);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--brand-color);
}


/* font-weight */

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}


/* z-index */

.z-index-5 {
    z-index: 5;
}

.z-index-10 {
    z-index: 10;
}

.z-index-15 {
    z-index: 15;
}

.z-index-20 {
    z-index: 20;
}

.z-index-25 {
    z-index: 25;
}


/* line height */

.line-height-primary {
    line-height: 1em;
}

.line-height-1 {
    line-height: 1.1em;
}

.line-height-2 {
    line-height: 1.2em;
}

.line-height-3 {
    line-height: 1.3em;
}

.line-height-4 {
    line-height: 1.4em;
}

.line-height-5 {
    line-height: 1.5em;
}

.line-height-6 {
    line-height: 1.6em;
}

.line-height-7 {
    line-height: 1.7em;
}

.line-height-8 {
    line-height: 1.8em;
}

.line-height-9 {
    line-height: 1.9em;
}

.line-height-10 {
    line-height: 2em;
}


/* Buttons */

.brand-btn {
    background-color: var(--brand-color);
    border: 1px solid var(--brand-color);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    padding: 25px 65px;
    border-radius: 0px;
    position: relative;
    overflow: hidden;
}

.dark-btn {
    background-color: var(--black-color);
    border: 1px solid var(--body-text-color);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    padding: 15px 45px;
    border-radius: 0px;
    position: relative;
    overflow: hidden;
}

.light-btn {
    background-color: #fff;
    border: 1px solid var(--brand-color);
    color: var(--black-color);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    padding: 15px 45px;
    border-radius: 0px;
    position: relative;
    overflow: hidden;
}

.small-light-btn {
    background-color: #fff;
    border: 1px solid var(--body-text-color);
    color: var(--black-color);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    padding: 15px 16px;
    border-radius: 0px;
    position: relative;
    overflow: hidden;
}

.brand-btn:hover {
    border: 1px solid var(--body-text-color);
    color: #fff;
    background-color: var(--brand-color);
}

.dark-btn:hover {
    border: 1px solid var(--black-color);
    color: #fff;
    background-color: var(--black-color);
}

.light-btn:hover {
    border: 1px solid var(--brand-color);
    color: #fff;
    background-color: #fff;
}

.small-light-btn:hover {
    border: 1px solid var(--brand-color);
    color: #fff;
    background-color: #fff;
}

.dark-btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: var(--brand-color);
    right: 100%;
    visibility: hidden;
    transition: all 0.4s;
}

.light-btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: var(--brand-color);
    right: 100%;
    visibility: hidden;
    transition: all 0.4s;
}

.small-light-btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: var(--brand-color);
    right: 100%;
    visibility: hidden;
    transition: all 0.4s;
}

.brand-btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: var(--black-color);
    right: 100%;
    visibility: hidden;
    transition: all 0.4s;
}

.dark-btn:hover::before {
    right: 0;
    visibility: visible;
}

.light-btn:hover::before {
    right: 0;
    visibility: visible;
}

.small-light-btn:hover::before {
    right: 0;
    visibility: visible;
}

.brand-btn:hover::before {
    right: 0;
    visibility: visible;
}


/* slider nav buttons */

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    transition: all 0.3s;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    background-color: var(--brand-color);
}

.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span {
    transition: all 0.3s;
}

.owl-carousel .owl-nav button.owl-prev:hover span,
.owl-carousel .owl-nav button.owl-next:hover span {
    color: #fff !important;
}


/* Cursor */

.cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid var(--brand-color);
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.1s;
}

.cursor2 {
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: var(--brand-color);
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.15s;
}


/* Basic margin padding */

.m-0 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.p-0 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}


/* Margin top */

.mt-0 {
    margin-top: 0;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-55 {
    margin-top: 55px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-75 {
    margin-top: 75px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-85 {
    margin-top: 85px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-110 {
    margin-top: 110px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-130 {
    margin-top: 130px;
}

.mt-140 {
    margin-top: 140px;
}

.mt-150 {
    margin-top: 150px;
}


/* Margin right */

.mr-0 {
    margin-right: 0px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-35 {
    margin-right: 35px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-55 {
    margin-right: 50px;
}

.mr-60 {
    margin-right: 60px;
}

.mr-70 {
    margin-right: 70px;
}

.mr-80 {
    margin-right: 80px;
}

.mr-90 {
    margin-right: 90px;
}

.mr-100 {
    margin-right: 100px;
}

.mr-110 {
    margin-right: 110px;
}

.mr-120 {
    margin-right: 120px;
}

.mr-130 {
    margin-right: 130px;
}

.mr-140 {
    margin-right: 140px;
}

.mr-150 {
    margin-right: 150px;
}


/* Margin bottom */

.mb-0 {
    margin-bottom: 0;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-55 {
    margin-bottom: 55px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-65 {
    margin-bottom: 65px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-110 {
    margin-bottom: 110px;
}

.mb-120 {
    margin-bottom: 120px;
}

.mb-130 {
    margin-bottom: 130px;
}

.mb-140 {
    margin-bottom: 140px;
}

.mb-150 {
    margin-bottom: 150px;
}


/* Margin left */

.ml-0 {
    margin-left: 0;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-60 {
    margin-left: 60px;
}

.ml-70 {
    margin-left: 70px;
}

.ml-80 {
    margin-left: 80px;
}

.ml-90 {
    margin-left: 90px;
}

.ml-95 {
    margin-left: 95px;
}

.ml-100 {
    margin-left: 100px;
}

.ml-110 {
    margin-left: 110px;
}

.ml-120 {
    margin-left: 120px;
}

.ml-130 {
    margin-left: 130px;
}

.ml-140 {
    margin-left: 140px;
}

.ml-150 {
    margin-left: 150px;
}


/* Padding top */

.pt-0 {
    padding-top: 0;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-35 {
    padding-top: 35px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-110 {
    padding-top: 110px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-130 {
    padding-top: 130px;
}

.pt-140 {
    padding-top: 140px;
}

.pt-150 {
    padding-top: 150px;
}

.pt-175 {
    padding-top: 175px;
}


/* Padding right */

.pr-0 {
    padding-right: 0;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-25 {
    padding-right: 25px;
}

.pr-30 {
    padding-right: 30px;
}

.pr-40 {
    padding-right: 40px;
}

.pr-50 {
    padding-right: 50px;
}

.pr-60 {
    padding-right: 60px;
}

.pr-70 {
    padding-right: 70px;
}

.pr-80 {
    padding-right: 80px;
}

.pr-90 {
    padding-right: 90px;
}

.pr-100 {
    padding-right: 100px;
}

.pr-110 {
    padding-right: 110px;
}

.pr-120 {
    padding-right: 120px;
}

.pr-130 {
    padding-right: 130px;
}

.pr-140 {
    padding-right: 140px;
}

.pr-150 {
    padding-right: 150px;
}

.pr-200 {
    padding-right: 200px;
}


/* Padding bottom */

.pb-0 {
    padding-bottom: 0;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-95 {
    padding-bottom: 95px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-105 {
    padding-bottom: 105px;
}

.pb-110 {
    padding-bottom: 110px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-130 {
    padding-bottom: 130px;
}

.pb-140 {
    padding-bottom: 140px;
}

.pb-150 {
    padding-bottom: 150px;
}


/* Padding left */

.pl-0 {
    padding-left: 0;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-25 {
    padding-left: 25px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-50 {
    padding-left: 50px;
}

.pl-60 {
    padding-left: 60px;
}

.pl-70 {
    padding-left: 70px;
}

.pl-80 {
    padding-left: 80px;
}

.pl-90 {
    padding-left: 90px;
}

.pl-100 {
    padding-left: 100px;
}

.pl-110 {
    padding-left: 110px;
}

.pl-120 {
    padding-left: 120px;
}

.pl-130 {
    padding-left: 130px;
}

.pl-140 {
    padding-left: 140px;
}

.pl-150 {
    padding-left: 150px;
}

.pl-200 {
    padding-left: 200px;
}


/* 2. Header css */

.logo-container .header-logo {
    width: 90px;
}

.offcanvas-body {
    padding: 30px 30px 30px 50px;
}

.offcanvas-header {
    padding: 30px 30px 30px 50px;
}

.desktop-menu-offcanvas .off-canvas-icon {
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.nav-menu ul {
    column-gap: 35px;
}

.nav-secondary .nav-menu ul li a {
    font-size: 16px;
    transition: all 0.3s;
    color: var(--black-color);
}

.nav-menu ul li a {
    font-size: 16px;
    transition: all 0.3s;
    color: #fb8500;
}

.nav-menu ul li ul li a {
    font-size: 16px;
    transition: all 0.3s;
    color: var(--black-color);
}

.desktop-menu-offcanvas ul li a {
    color: var(--black-color);
}

.nav-menu ul li a:hover {
    color: var(--brand-color);
}

.nav-menu ul li a {
    position: relative;
}

.nav-menu ul li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--brand-color);
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;
}

.nav-menu ul li a:hover::after {
    width: 75%;
}

.nav-menu ul li {
    position: relative;
}

.nav-menu ul li ul {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.176);
    opacity: 0;
    text-align: left;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 190px;
    z-index: 999;
}

.submenu-container {
    background-color: var(--orange-color);
    position: absolute;
    top: 125%;
    left: 0px;
    width: fit-content;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.nav-menu ul li ul li:first-child {
    border-top: none;
}

.nav-menu ul li ul li {
    display: block;
    margin: 0;
    padding: 12px 15px;
    border-top: 1px solid rgba(246, 138, 10, 0.3);
    transition: all 0.3s ease 0s;
}

.nav-menu li:hover>ul {
    opacity: 1;
    visibility: visible;
}

.dark-sticky {
    background-color: var(--black-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.light-sticky {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    padding-bottom: 35px;
    box-shadow: 0px 0px 4px 0px #e1d7d7;
}

.accordion-menu {
    width: 100%;
    max-width: 450px;
    margin: 0px auto 20px;
    background: #fff;
    border-radius: 4px;
}

.accordion-menu li.open .dropdownlink {
    color: var(--brand-color);
}

.accordion-menu li.open .dropdownlink .fa-chevron-down {
    transform: rotate(180deg);
}

.accordion-menu li:last-child .dropdownlink {
    border-bottom: 0;
}

.dropdownlink {
    cursor: pointer;
    display: block;
    font-size: 16px;
    color: var(--black-color);
    position: relative;
    transition: all 0.4s ease-out;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    padding: 12px 0px;
}

.dropdownlink i {
    position: absolute;
    top: 17px;
    left: 16px;
}

.dropdownlink .fa-chevron-down {
    right: 12px;
    left: auto;
}

.submenuItems {
    display: none;
    width: 100% !important;
}

.submenuItems li {
    border-bottom: 2px solid #f68c0a4d;
}

.submenuItems li:last-child {
    border-bottom: none;
}

.submenuItems a {
    display: block;
    color: var(--black-color);
    padding: 12px 12px 12px 10px;
    transition: all 0.4s ease-out;
}

.submenuItems a:hover {
    background: var(--black-color);
    color: #fff;
}

.dropdownlink {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-menu li a::after {
    content: "" !important;
    position: absolute !important;
    width: 0% !important;
    height: 0px !important;
    transition: all 0.3s;
}

.accordion-menu li a:hover {
    background-color: transparent !important;
}

.accordion-menu li ul {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    left: 0;
    opacity: 1 !important;
    position: relative;
    text-align: left;
    top: 130%;
    transition: all 0.3s ease 0s;
    visibility: visible !important;
    width: 190px;
    z-index: 999;
}


/* 3. Banner css */

.banner-one {
    height: fit-content;
    background-image: url(/archite/architetemplate/img/bannerOneBg.jpg);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.banner-three {
    height: fit-content;
    background-image: url(/archite/architetemplate/img/img/bannerThreeBg.jpg);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
}

.banner-four {
    height: fit-content;
    background-image: url(../img/homeThreeBannerTwo.jpg);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.banner-two {
    background-image: url(../img/bannerTwoBg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}

.banner-two-counter {
    bottom: 0px;
    right: 0px;
    width: 750px;
    padding: 45px 0px 45px 45px;
    margin: 0;
    background-color: #ffffffe6;
}

.banner-two-second-counter {
    padding-left: 45px;
}

.banner-two-border-responsive::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0px;
    width: 2px;
    height: 100%;
    background: radial-gradient( 50% 50% at 50% 50%, #f68a0a 0%, rgba(246, 138, 10, 0) 100%);
}

.banner-two-paragraph {
    padding-right: 50%;
}

.banner-onecontents {
    padding: 77px 0px 0px 0px;
}

.banner-three-contents {
    padding: 142px 0px 142px 0px;
}

.banner-three-subheading {
    padding-left: 100px;
    margin-bottom: 15px;
}

.banner-three-subheading::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0px;
    height: 1px;
    width: 85px;
    background-color: var(--brand-color);
}

.banner-onecontent-left p {
    padding-right: 25%;
}

.banner-scroll-bottom {
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    height: 100px;
    width: 27px;
    position: absolute;
}

.banner-scroll-bottom a {
    width: 27px;
}

.banner-scroll-bottom a p {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

.banner-twocontents {
    padding: 75px 0px 0px 0px;
}

.floating-contact-box {
    bottom: 10%;
    left: 12px;
    width: 47px;
}

.floating-contact-box ul {
    row-gap: 65px;
    flex-direction: column;
}

.floating-contact-box ul li {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-size: 20px;
}

.floating-contact-box ul .contact-info-one::before {
    content: "";
    width: 15px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: -32px;
    right: 10px;
    opacity: 0.2;
}

.floating-contact-box ul .contact-info-one-dark::before {
    content: "";
    width: 15px;
    height: 2px;
    background-color: var(--black-color);
    position: absolute;
    top: -32px;
    right: 4px;
    opacity: 0.2;
}

.floating-line {
    top: 0;
    left: 59px;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    opacity: 0.5;
    backdrop-filter: blur(15px);
}

.floating-social-box {
    right: 0px;
    background: rgba(255, 255, 255, 0.05);
    /* backdrop-filter: blur(15px); */
    padding: 20px 30px;
    top: 0;
    height: 100%;
    width: 100px;
}

.floating-social-box ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    width: 20px;
}

.floating-social-box ul li {
    color: #fff;
    writing-mode: vertical-rl;
    transform: rotate(-90deg);
    margin-bottom: 20px;
}

.floating-social-box ul .social-follow-text {
    transform: rotate(-180deg);
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 85px;
}

.floating-social-box ul .social-follow-text::after {
    content: "";
    width: 1px;
    height: 85px;
    background-color: #fff;
    position: absolute;
    top: 95px;
    right: 10px;
}

.floating-social-icon i {
    width: 16px;
    height: 16px;
}

.floating-social-icon a {
    color: #fff;
}

.floating-social-icon a:hover {
    color: var(--brand-color);
}

.banner-three .owl-nav-three {
    display: flex;
    gap: 16px;
    position: absolute;
    bottom: 35px;
    left: calc((100% - 1296px) / 2);
}

.banner-three .owl-nav-three button.owl-next {
    width: 74px;
    height: 74px;
    padding: 0;
    line-height: 40px;
    border: 1px solid var(--brand-color);
    border-radius: 50%;
}

.banner-three .owl-nav-three button.owl-prev {
    width: 74px;
    height: 74px;
    padding: 0;
    line-height: 40px;
    border: 1px solid var(--brand-color);
    border-radius: 50%;
}

.banner-three .owl-nav-three button.owl-next span {
    color: var(--brand-color);
    font-size: 45px;
    font-weight: 400;
    padding: 0;
}

.banner-three .owl-nav-three button.owl-prev span {
    color: var(--brand-color);
    font-size: 45px;
    font-weight: 400;
    padding: 0;
}

.banner-three-carousel .owl-carousel .owl-item {
    width: 100%;
    margin-right: 0;
}

.banner-three-carousel .owl-carousel .owl-stage-outer {
    margin: 0;
}

.ah-headline.clip span {
    padding: 0;
}

.ah-words-wrapper b {
    padding: 0;
    font-weight: 700;
}


/* 4. About css */

.about-one {
    position: relative;
}

.about-one::after {
    content: "";
    position: absolute;
    top: 60px;
    right: -115px;
    width: 580px;
    height: 640px;
    background-image: url(../img/aboutOneShape.png);
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: fadeInOutMove;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.image-cont {
    position: relative;
    overflow: hidden;
    height: 80vh;
    max-height: 502px;
}

.image-cont img {
    width: 438px;
    height: 115%;
    object-fit: cover;
    bottom: 0;
}

.image-cont-two {
    position: relative;
    overflow: hidden;
    height: 80vh;
    max-height: 316.8px;
    width: 330px;
    right: 45px;
    bottom: -30px;
}

.image-cont-two img {
    width: 330px;
    height: 110%;
    object-fit: cover;
    bottom: 0;
}

.image-cont-three {
    position: relative;
    overflow: hidden;
    height: 80vh;
    width: 573px;
    max-height: 625px;
}

.image-cont-three img {
    width: 573px;
    height: 120%;
    object-fit: cover;
    bottom: 0;
}

.image-cont-four {
    position: relative;
    overflow: hidden;
    height: 80vh;
    width: 1320px;
    max-height: 555px;
    margin-bottom: 100px;
}

.image-cont-four img {
    width: 1320px;
    height: 120%;
    object-fit: cover;
    bottom: 0;
}

.image-cont-five {
    position: relative;
    overflow: hidden;
    height: 80vh;
    width: 1320px;
    max-height: 500px;
    margin-bottom: 50px;
}

.image-cont-five img {
    width: 1320px;
    height: 120%;
    object-fit: cover;
    bottom: 0;
}

.image-cont-six {
    position: relative;
    overflow: hidden;
    height: 80vh;
    width: 640px;
    max-height: 530px;
    margin-bottom: 50px;
}

.image-cont-six img {
    width: 640px;
    height: 120%;
    object-fit: cover;
    bottom: 0;
}

.image-cont-seven {
    position: relative;
    overflow: hidden;
    height: 80vh;
    width: 640px;
    max-height: 530px;
    margin-bottom: 50px;
}

.image-cont-seven img {
    width: 640px;
    height: 120%;
    object-fit: cover;
    bottom: 0;
}

.about-one-img {
    width: 440px;
    height: auto;
}

.about-one-img-small {
    width: 330px;
    height: auto;
    right: 45px;
    bottom: -30px;
}

.about-one-subheading {
    margin-left: -90px;
    padding-right: 30%;
}

.about-one-first-text-box {
    padding-left: 90px;
}


/* 5. Count css */

.count-one-border::after {
    content: "";
    position: absolute;
    top: 0;
    right: 30px;
    width: 2px;
    height: 100%;
    background: radial-gradient( 50% 50% at 50% 50%, #f68a0a 0%, rgba(246, 138, 10, 0) 100%);
}


/* 6. Services css */

.service-one-card {
    height: 338px;
    transition: all 0.3s;
    border: 2px solid transparent;
}

.service-one-card .service-imag {
    height: 100%;
}

.service-one-card-container .owl-carousel .owl-item img {
    height: 100%;
}

.service-one-contents {
    top: 0;
    left: 0;
    padding: 25px 40px;
}

.service-four-card {
    padding: 46px 47px;
}

.service-one-card-container .owl-carousel .owl-item {
    min-height: 360px;
}

.service-one-card::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    border: 1px solid var(--brand-color);
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 1s;
}

.service-one-card:hover::after {
    z-index: 0;
    background: rgb(0, 0, 0, 0.2);
    top: 0px;
    left: 0px;
    border: 1px solid rgb(146, 138, 10, 0.5);
}

.services-archieve-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.service-one-card-archieve::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 25px;
    border: 1px solid var(--brand-color);
    height: 100%;
    width: 97%;
    z-index: -1;
    transition: all 0.7s;
}

.service-one-card-archieve:hover::after {
    background: rgb(0, 0, 0, 0.2);
    top: 0px;
    left: 0px;
    border: 1px solid rgb(146, 138, 10, 0.5);
}

.services-two {
    background-color: var(--body-text-color-two);
}

.services-three {
    background-color: var(--body-text-color-two);
}

.service-imag {
    overflow: hidden;
}

.service-imag img {
    transition: all 1s;
}

.service-one-card-archieve:hover .service-imag img {
    transform: scale(1.2);
}

.service-three-cards-container .owl-stage {
    left: 20px;
}

.service-two-cards-container .owl-carousel .owl-nav {
    display: flex;
    gap: 16px;
    position: absolute;
    top: 74%;
    right: 100%;
    width: 51%;
    transform: translateY(-74%);
}

.service-two-cards-container .owl-carousel .owl-nav button.owl-next {
    width: 74px;
    height: 74px;
    padding: 0;
    line-height: 40px;
    border: 1px solid var(--brand-color);
    border-radius: 50%;
}

.service-two-cards-container .owl-carousel .owl-nav button.owl-prev {
    width: 74px;
    height: 74px;
    padding: 0;
    line-height: 40px;
    border: 1px solid var(--brand-color);
    border-radius: 50%;
}

.service-two-cards-container .owl-carousel .owl-nav button.owl-next span {
    color: var(--brand-color);
    font-size: 45px;
    font-weight: 400;
    padding: 0;
}

.service-two-cards-container .owl-carousel .owl-nav button.owl-prev span {
    color: var(--brand-color);
    font-size: 45px;
    font-weight: 400;
    padding: 0;
}

.service-three-cards-container .owl-carousel .owl-nav {
    display: flex;
    gap: 16px;
    position: absolute;
    top: -200px;
    right: 0px;
}

.service-three-cards-container .owl-carousel .owl-nav button.owl-next {
    width: 74px;
    height: 74px;
    padding: 0;
    line-height: 40px;
    border: 1px solid var(--brand-color);
    border-radius: 50%;
}

.service-three-cards-container .owl-carousel .owl-nav button.owl-prev {
    width: 74px;
    height: 74px;
    padding: 0;
    line-height: 40px;
    border: 1px solid var(--brand-color);
    border-radius: 50%;
}

.service-three-cards-container .owl-carousel .owl-nav button.owl-next span {
    color: var(--brand-color);
    font-size: 45px;
    font-weight: 400;
    padding: 0;
}

.service-three-cards-container .owl-carousel .owl-nav button.owl-prev span {
    color: var(--brand-color);
    font-size: 45px;
    font-weight: 400;
    padding: 0;
}

.service-two-container {
    padding-left: 100px;
}

.service-one-card-one:hover,
.service-one-card-two:hover,
.service-one-card-three:hover,
.service-one-card-four:hover,
.service-one-card-five:hover,
.service-one-card-six:hover {
    background: #000;
    border: 2px solid var(--brand-color);
}

.service-one-card-container .owl-stage {
    left: -15px;
}

.service-one-card-container .owl-carousel .owl-nav {
    display: flex;
    gap: 16px;
    position: absolute;
    top: -180px;
    right: 0;
}

.service-one-card-container .owl-carousel .owl-nav button.owl-next {
    width: 74px;
    height: 74px;
    padding: 0;
    line-height: 40px;
    border: 1px solid var(--brand-color);
    border-radius: 50%;
}

.service-one-card-container .owl-carousel .owl-nav button.owl-prev {
    width: 74px;
    height: 74px;
    padding: 0;
    line-height: 40px;
    border: 1px solid var(--brand-color);
    border-radius: 50%;
}

.service-one-card-container .owl-carousel .owl-nav button.owl-next span {
    color: var(--brand-color);
    font-size: 45px;
    font-weight: 400;
    padding: 0;
}

.service-one-card-container .owl-carousel .owl-nav button.owl-prev span {
    color: var(--brand-color);
    font-size: 45px;
    font-weight: 400;
    padding: 0;
}

.service-two-card {
    padding: 70px 45px;
    background-color: var(--black-color);
    position: relative;
    overflow: hidden;
}

.service-two-cards-container .owl-stage {
    left: 50px;
}

.service-three-cards-container .service-two-card {
    overflow: inherit;
}

.service-two-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #252525;
    transition: all 0.7s;
    transform: scale(0);
}

.service-three-cards-container .service-two-card .serivice-three-contents {
    position: relative;
    z-index: 2;
}

.service-three-cards-container .service-two-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--body-text-color);
    transition: all 0.7s;
    transform: scale(0);
}

.service-two-card:hover::after {
    transform: scale(1);
}

.service-two-card a {
    transition: all 0.7s;
}

.service-two-card p {
    transition: all 0.7s;
}

.service-two-card:hover p {
    transform: scale(0);
}

.service-two-card:hover a {
    transform: translateY(-100px);
}

.services-two .owl-carousel .owl-item img {
    width: 80px;
    height: 80px;
}

.service-two-stroke-text {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #f68c0a84;
}

.service-two-stroke-absolute {
    top: -20px;
    left: -20px;
    z-index: 10;
}

.service-details-divider {
    width: 100%;
    height: 1px;
    background: linear-gradient(180deg, #f68a0a 0%, rgba(246, 138, 10, 0) 100%);
    opacity: 0.5;
}

.service-two-number {
    font-size: 100px;
}

.service-two-top-paragraph {
    padding-right: 10%;
}


/* 7. Features css */

.features-one {
    background-color: var(--body-text-color-two);
}

.feature-one-box {
    position: relative;
    padding-left: 10px;
}

.feature-one-box::before {
    content: "";
    width: 1px;
    height: 60%;
    position: absolute;
    left: 0;
    top: 60%;
    transform: translateY(-50%);
    background-color: var(--brand-color);
}

.feature-one-number-top {
    margin-left: -20px;
}

.features-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.features-play-icon:hover {
    transform: translateX(-50%) translateY(-50%) scale(1);
}

.feature-items {
    margin-top: 80px;
}


/* 8. Testimonial css */

.testimonial-one-slider-wrapper .owl-carousel .owl-nav {
    display: flex;
    gap: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -70px;
    flex-direction: column;
}

.testimonial-one-slider-wrapper .owl-carousel .owl-nav button.owl-next {
    width: 45px;
    height: 45px;
    padding: 0;
    line-height: 30px;
    border: 1px solid var(--brand-color);
    border-radius: 50%;
    transform: rotate(90deg);
}

.testimonial-one-slider-wrapper .owl-carousel .owl-nav button.owl-prev {
    width: 45px;
    height: 45px;
    padding: 0;
    line-height: 30px;
    border: 1px solid var(--brand-color);
    border-radius: 50%;
    transform: rotate(90deg);
}

.testimonial-one-slider-wrapper .owl-carousel .owl-nav button.owl-next span {
    color: var(--brand-color);
    font-size: 45px;
    font-weight: 400;
    padding: 0;
}

.testimonial-one-slider-wrapper .owl-carousel .owl-nav button.owl-prev span {
    color: var(--brand-color);
    font-size: 45px;
    font-weight: 400;
    padding: 0;
}

.testimonial-one-slider-wrapper .owl-carousel .owl-item img {
    width: 190px;
    height: 190px;
}

.testimonial-one-icon {
    max-width: 100%;
    height: 100px;
}

.testimonial-one-icon-heading {
    font-size: 20px;
    margin-top: 22px;
}

.testimonial-item-content {
    padding-left: 40px;
    padding-right: 0px;
}


/* 9. Team css */

.team-one-card-container {
    overflow: hidden;
}

.team-img img {
    width: 100% !important;
}

.team-one-card-carousel .owl-stage-outer {
    padding-bottom: 20px;
}

.team-one-card-carousel .owl-stage {
    padding-left: 0 !important;
}

.team-one-card-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.team-two-card-info {
    padding-top: 150px;
}

.team-two-card-info p {
    color: #c1c1c1;
}

.team-one-item {
    transform: translate3d(0, 0, 0);
}

.team-one-card-info {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.team-one-card-info p {
    color: #c1c1c1;
    margin-top: 5px;
}

.team-member-details .member-details-social a {
    transition: all 0.3s;
    color: #fff;
}

.team-member-details .member-details-social a:hover {
    transform: scale(1.6);
}

.team-member-details {
    width: 100%;
    height: 100%;
    background-color: #10101089;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;
}

.team-member-details-second {
    width: 90%;
    height: 85%;
    background-color: #10101089;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 30px;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;
}

.team-one-item:hover .team-member-details {
    visibility: visible;
    opacity: 1;
}

.team-one-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15px;
    left: 15px;
    border: 1px solid var(--brand-color);
    z-index: -1;
}

.team-details-wrapper {
    margin-top: 77px;
}


/* 10. Video css */

.intro-video-one-container {
    padding-left: 300px;
}

.video-thumbnail-container {
    padding: 300px 0px;
    background-image: url(../img/introVideoBg.jpg);
}

.video-thumbnail-two-container {
    padding: 220px 0px;
    background-image: url(../img/introVideoBg.jpg);
}

.intro-video-animation {
    position: relative;
    display: inline-block;
    font-size: 24px;
    line-height: 54px;
    text-align: center;
    border-radius: 50%;
}

.features-video-animation {
    display: inline-block;
    font-size: 24px;
    line-height: 54px;
    text-align: center;
    border-radius: 50%;
}

.intro-video-animation:before {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    content: "";
    position: absolute;
    box-shadow: 0 0 0 0 hsla(32, 100%, 68%, 0.6);
    -webkit-animation: ripple-data-v-4f288fb2 3s infinite;
    animation: ripple-data-v-4f288fb2 3s infinite;
    transition: all 0.4s ease;
}

.features-video-animation:before {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    content: "";
    position: absolute;
    box-shadow: 0 0 0 0 hsla(32, 100%, 68%, 0.6);
    -webkit-animation: ripple-data-v-4f288fb2 3s infinite;
    animation: ripple-data-v-4f288fb2 3s infinite;
    transition: all 0.4s ease;
}

.intro-video-animation:after {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    content: "";
    position: absolute;
    box-shadow: 0 0 0 0 hsla(32, 100%, 68%, 0.6);
    -webkit-animation: ripple-data-v-4f288fb2 3s infinite;
    animation: ripple-data-v-4f288fb2 3s infinite;
    transition: all 0.4s ease;
    animation-delay: 0.6s;
}

.features-video-animation:after {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    content: "";
    position: absolute;
    box-shadow: 0 0 0 0 hsla(32, 100%, 68%, 0.6);
    -webkit-animation: ripple-data-v-4f288fb2 3s infinite;
    animation: ripple-data-v-4f288fb2 3s infinite;
    transition: all 0.4s ease;
    animation-delay: 0.6s;
}

.intro-video-title {
    padding-right: 8%;
}


/* 11. Blog css */

.blogs-one {
    margin-right: 0;
    width: 100%;
}

.blog-one-heading {
    padding-right: 10%;
}

.blogs-one-cards-container .owl-carousel .owl-nav {
    display: flex;
    gap: 16px;
    position: absolute;
    top: 50%;
    right: 100%;
    width: 52%;
    transform: translateY(-50%);
}

.blogs-one-cards-container .owl-carousel .owl-nav button.owl-next {
    width: 74px;
    height: 74px;
    padding: 0;
    line-height: 40px;
    border: 1px solid var(--brand-color);
    border-radius: 50%;
}

.blogs-one-cards-container .owl-carousel .owl-nav button.owl-prev {
    width: 74px;
    height: 74px;
    padding: 0;
    line-height: 40px;
    border: 1px solid var(--brand-color);
    border-radius: 50%;
}

.blogs-one-cards-container .owl-carousel .owl-nav button.owl-next span {
    color: var(--brand-color);
    font-size: 45px;
    font-weight: 400;
    padding: 0;
}

.blogs-one-cards-container .owl-carousel .owl-nav button.owl-prev span {
    color: var(--brand-color);
    font-size: 45px;
    font-weight: 400;
    padding: 0;
}

.blogs-two-cards-container .owl-carousel .owl-nav {
    display: flex;
    gap: 16px;
    position: absolute;
    top: -180px;
    right: 0px;
}

.blogs-two-cards-container .owl-carousel .owl-nav button.owl-next {
    width: 74px;
    height: 74px;
    padding: 0;
    line-height: 40px;
    border: 1px solid var(--brand-color);
    border-radius: 50%;
}

.blogs-two-cards-container .owl-carousel .owl-nav button.owl-prev {
    width: 74px;
    height: 74px;
    padding: 0;
    line-height: 40px;
    border: 1px solid var(--brand-color);
    border-radius: 50%;
}

.blogs-two-cards-container .owl-carousel .owl-nav button.owl-next span {
    color: var(--brand-color);
    font-size: 45px;
    font-weight: 400;
    padding: 0;
}

.blogs-two-cards-container .owl-carousel .owl-nav button.owl-prev span {
    color: var(--brand-color);
    font-size: 45px;
    font-weight: 400;
    padding: 0;
}

.blog-archieve-card-title {
    font-size: 32px;
    transition: all 0.5s;
}

.blog-sidebar-search-input {
    padding: 12px 30px;
    border-radius: 0;
    border-right: 0;
}

.blog-sidebar-search-icon {
    border-radius: 0;
    border-width: 0.8px 0.8px 0.8px 0px;
    border-color: #dee2e6;
    background-color: transparent;
    color: var(--black-color);
}

.blog-sidebar-search-icon:hover {
    background-color: transparent;
    border-color: #dee2e6;
    color: var(--black-color);
}

.blog-author-social i {
    font-size: 24px;
    color: var(--black-color);
}

.author-details {
    padding: 70px 55px;
    background: #f4f3f1;
}

.sidebar-category-item {
    transition: all 0.3s;
}

.sidebar-category-item a:hover {
    text-decoration: underline;
    color: var(--brand-color);
}

.popular-tags p {
    transition: all 0.3s;
    cursor: pointer;
}

.popular-tags p:hover {
    color: var(--brand-color);
}

.blockquote-container {
    padding: 40px;
    margin: 75px 90px 75px 90px;
    border-width: 1px 0px 1px 0px;
    border-color: var(--body-text-color);
    border-style: solid;
}

.blog-comment-heading {
    font-size: 32px;
    color: var(--black-color);
    font-weight: 700;
    line-height: 1.3em;
}

.blog-thanks-text p {
    position: relative;
    display: flex;
}

.blog-thanks-text p::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #f68a0a33;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 50px;
}

.bottom-gradient-divider {
    position: relative;
}

.bottom-gradient-divider::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 15px;
    width: 94%;
    height: 1px;
    background: linear-gradient(90deg, #f68a0a 0%, rgba(246, 138, 10, 0) 100%);
    opacity: 0.5;
}

.blog-details-page-banner-wrapper {
    margin-top: 37px;
}


/* 12. Projects css */

.projects-text-stroke {
    writing-mode: vertical-rl;
    white-space: nowrap;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #53535366;
    transition: all 0.4s;
    position: absolute;
    top: 50%;
    left: -80px;
    transform: translateY(-50%) rotate(-180deg);
}

.projects-one-item .projects-one-contents>h6>a {
    transition: all 0.4s;
}

.projects-one-item {
    position: relative;
}

.project-btn {
    position: absolute;
    right: -50px;
    width: 150px;
    height: 0px;
    bottom: 0px;
    z-index: 1;
    opacity: 0;
    transition: all 1s;
    background: transparent;
    color: #fff;
    transition: all 0.4s;
    border: 0;
    z-index: 3;
}

.project-img-ontainer {
    position: relative;
    transition: all 0.5s;
    width: fit-content;
}

.project-img-ontainer img:hover {
    transform: scale(1);
}

.under-line-hover::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -10px;
    opacity: 0;
    background-color: #f68a0a;
    transition: all 0.8s;
}

.under-line-hover:hover::after {
    opacity: 1;
    width: 100%;
}

.project-img-ontainer::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0%;
    bottom: 0;
    right: 0;
    background-color: var(--brand-color);
    transition: all 0.5s;
    border-top-left-radius: 90%;
    z-index: 2;
}

.project-img-ontainer:hover::after {
    height: 250px;
    width: 250px;
}

.project-img-ontainer:hover .project-btn {
    bottom: 100px;
    right: 50px;
    width: 160px;
    color: #fff !important;
    opacity: 1;
}

.project-img-ontainer {
    position: relative;
}

.project-img-ontainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
    transition: all 0.7s;
}

.project-img-ontainer:hover::before {
    background-color: #10101075;
}

.home-one-portfolio-first-img {
    height: 770px;
    width: 520px;
}

.home-one-portfolio-second-img {
    width: 565px;
    height: 690px;
}

.home-one-portfolio-third-img {
    width: 655px;
    height: 440px;
}

.home-one-portfolio-fourth-img {
    width: 520px;
    height: 770px;
}

.home-one-portfolio-fifth-img {
    width: 605px;
    height: 440px;
}

.home-one-portfolio-sixth-img {
    width: 565px;
    height: 695px;
}

.portfolio-cta-btn {
    margin-top: 100px;
}


/* 13. Experience css */

.experience-contact-number {
    font-size: 32px;
}


/* 14. Footer css */

.footer-one {
    padding: 130px 0px;
    background-color: var(--black-color);
}

.footer-one ul li a {
    transition: all 0.3s;
    color: #fff;
}

.footer-one ul li a:hover {
    color: var(--brand-color);
}

.footer-address {
    color: #c1c1c1;
}

.footer-copyright-text {
    color: #c1c1c1;
}

.footer-email {
    font-size: 55px;
}


/* 15. Why Choose Us css */

.why-choose-right-col {
    background-color: var(--body-text-color-two);
    padding-left: 100px;
    padding-right: 5%;
}

.why-choose-us-two {
    background-color: var(--black-color);
}

.why-choose-item-first {
    width: 80%;
}

.why-choose-left-col {
    background-image: url(../img/whyChooseImg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.why-choose-subheading {
    padding-left: 115px;
}

.why-choose-subheading::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 2px;
    width: 100px;
    background-color: var(--brand-color);
}


/* 16. Page title carousel css */

.page-title-stroke {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--body-text-color);
}

.title-carousel .owl-carousel.owl-theme .owl-item {
    width: fit-content !important;
}


/* 17. Work together css */

.work-together {
    padding: 220px 0px;
    background: url(../img/workTogetherBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.work-together-content-wrapper {
    padding: 0% 25%;
}


/* 18. Purposes css */

.purposes-paragraph {
    color: var(--body-text-color-two);
    padding-right: 10%;
}


/* 19. FAQ css */

.accordion-item-heading {
    font-size: 20px;
}

.services-faq .accordion-item,
.service-details-faq .accordion-item {
    border: 1px solid rgba(83, 83, 83, 0.1);
    border-radius: 0px;
}

.accordion-button:not(.collapsed) {
    background-color: #fff;
    box-shadow: none;
}

.service-details-faq .accordion-item .accordion-button {
    justify-content: space-between;
}

.services-faq .accordion-item .accordion-button {
    display: flex;
    justify-content: space-between;
}

.services-faq .accordion-item .accordion-button::after {
    margin-left: 5%;
}

.services-details-info-top-paragraph {
    padding-right: 10%;
}


/* 20. Inner Page Banner css */

.inner-page-banner {
    background-image: url("../img/innerPageBannerBg.jpg"), linear-gradient(rgba(256, 256, 256, 0.9), rgba(256, 256, 256, 0.9));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.inner-page-banner-wrapper {
    margin-top: 70px;
}


/* 21. Portfolio css */

.portfolio-text-stroke {
    white-space: nowrap;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--body-text-color);
}

.portfolio-details-contnts-right {
    padding-left: 8%;
}


/* 22. Contact css */

.contact-container {
    padding-left: calc((100% - 1320px) / 2);
    margin-left: 25px;
}

.contact-info-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--black-color);
}

.contact-info-icon i {
    font-size: 28px;
}

.contact-info-wrapper h4 {
    font-size: 32px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.contact-form-heading {
    font-size: 32px;
}

.contact-page-form input,
.contact-page-form textarea {
    padding: 12px 20px;
    border-width: 0px 0px 1px 0px;
    border-color: var(--black-color);
    border-style: solid;
    border-radius: 0;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.accordion-button:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-close:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contact-location-map iframe {
    width: 100%;
    margin-bottom: -5px;
}


/* 23. Animations */

@keyframes upDownSlow {
    0% {
        transform: translateY(10%);
    }
    50% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(10%);
    }
}

.upDown-animation-slow {
    animation-name: upDownSlow;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes upDownFast {
    0% {
        transform: translateY(30%);
    }
    50% {
        transform: translateY(-30%);
    }
    100% {
        transform: translateY(30%);
    }
}

.upDown-animation-fast {
    animation-name: upDownFast;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spinAnimate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spin-animation-slow {
    animation-name: spinAnimate;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes upDownLeft {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0px);
    }
}

.up-down-left-fast {
    animation-name: upDownLeft;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes zoomBG {
    0% {
        background-size: 100% 100%;
    }
    100% {
        background-size: 150% 150%;
    }
}

.bg-img-zoom {
    animation-name: zoomBG;
    animation-duration: 20s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes PlayScaleAnimate {
    0% {
        transform: scale(1) translateX(-50%) translateY(-50%);
    }
    50% {
        transform: scale(1.1) translateX(-50%) translateY(-50%);
    }
    100% {
        transform: scale(1) translateX(-50%) translateY(-50%);
    }
}

.icon-scale {
    animation-name: PlayScaleAnimate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes BgZoomInOut {
    0% {
        background-size: 100% 100%;
    }
    50% {
        background-size: 110% 110%;
    }
    100% {
        background-size: 100% 100%;
    }
}

.bg-zoom-in-out {
    animation-name: BgZoomInOut;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes ripple-data-v-60784e0a {
    70% {
        box-shadow: 0 0 0 40px hsla(0, 0%, 100%, 0);
    }
    to {
        box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0);
    }
}

@keyframes ripple-data-v-4f288fb2 {
    70% {
        box-shadow: 0 0 0 40px hsla(0, 0%, 100%, 0);
    }
    to {
        box-shadow: 0 0 0 0 hsla(0, 0%, 100%, 0);
    }
}

@keyframes fadeInOutMove {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    50% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.element-fade-in-out-move {
    animation-name: fadeInOutMove;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


/* Scroll up to bottom button */

.cs_scrollup {
    position: fixed;
    bottom: -60px;
    right: 40px;
    color: #fff;
    padding: 5px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease;
    z-index: 10;
    background-color: #000000;
    box-shadow: 0px 1px 5px 1px rgba(#000000, 0.2);
    border-radius: 50%;
    &:hover {
        background-color: #f68a0a;
        color: #ffffff;
    }
}

.cs_scrollup.cs_scrollup_show {
    bottom: 50px;
}


/* 24. Preloader css */

.placeholder-cs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #ffffff;
}

.preloader {
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-top: 2px solid #101010;
    border-bottom: 2px solid #101010;
    animation: anim9 1s linear infinite;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 992px) {
    .preloader {
        left: 35%;
    }
}

.preloader .preloader-inner {
    width: 20px;
    height: 20px;
    background-color: #f68a0a;
    position: absolute;
    border-radius: 50%;
    animation: scaleUp 1s linear infinite forwards;
}

@keyframes anim9 {
    to {
        transform: rotate(360deg);
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0.2);
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.moving-section {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 5px 0;
    animation: 4s linear infinite slide-left
}

.moving-section-in {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%
}

@keyframes slide-left {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
}


/*read mores arroow  */