<div class="left-side-menu">

    <div class="h-100" data-simplebar>

        <!-- User box -->
        <div class="user-box text-center">

            <img src="~/admin/Admin/dist/assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-thumbnail avatar-md">
            <div class="dropdown">
                <a href="#" class="user-name dropdown-toggle h5 mt-2 mb-1 d-block" data-bs-toggle="dropdown" aria-expanded="false">Emir Gözcü</a>

            </div>

        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul id="side-menu">

                <li>
                    <a href="/About/AAboutList/">
                        <i class="mdi mdi-calendar-blank-outline"></i>
                        <span> Hakkımızda </span>
                    </a>
                </li>

                <li>
                    <a href="/Blog/ABlogList/">
                        <i class="mdi mdi-calendar-blank-outline"></i>
                        <span> Blog </span>
                    </a>
                </li>

                <li>
                    <a href="/Contact/AContactList/">
                        <i class="mdi mdi-calendar-blank-outline"></i>
                        <span> İletişim </span>
                    </a>
                </li>

                <li>
                    <a href="/Design/ADesignList/">
                        <i class="mdi mdi-calendar-blank-outline"></i>
                        <span> Tasarım </span>
                    </a>
                </li>

                <li>
                    <a href="/Portfolio/APortfolioList/">
                        <i class="mdi mdi-calendar-blank-outline"></i>
                        <span> Projeler </span>
                    </a>
                </li>

                <li>
                    <a href="/Service/AServiceList/">
                        <i class="mdi mdi-calendar-blank-outline"></i>
                        <span> Hizmetlerimiz </span>
                    </a>
                </li>

                <li>
                    <a href="/SiteSettings/ASiteSettingsList/">
                        <i class="mdi mdi-calendar-blank-outline"></i>
                        <span> Site Ayarları </span>
                    </a>
                </li>

                <li>
                    <a href="/Slider/ASliderList/">
                        <i class="mdi mdi-calendar-blank-outline"></i>
                        <span> Ana Sayfa </span>
                    </a>
                </li>

                <li>
                    <a href="/Statistic/AStatisticList/">
                        <i class="mdi mdi-calendar-blank-outline"></i>
                        <span> İstatistik </span>
                    </a>
                </li>

                <li>
                    <a href="/Team/ATeamList/">
                        <i class="mdi mdi-calendar-blank-outline"></i>
                        <span> Takımımız </span>
                    </a>
                </li>

                <li>
                    <a href="/Testimonials/ATestimonialsList/">
                        <i class="mdi mdi-calendar-blank-outline"></i>
                        <span> Yorumlar </span>
                    </a>
                </li>

                <li>
                    <a href="apps-calendar.html">
                        <i class="mdi mdi-calendar-blank-outline"></i>
                        <span> Adminler </span>
                    </a>
                </li>

                <li>
                    <a href="/Login/LogOut/">
                        <i class="mdi mdi-calendar-blank-outline"></i>
                        <span> Çıkış Yap </span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
