
<section class="work-together ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-center flex-column work-together-content-wrapper">
                    <p class="p text-white fw-500 line-height-3 mb-10">
                        Hadi Hemen Başlayın
                    </p>
                    <h2 data-aos="fade-up" data-aos-delay="300" data-aos-duration="1500" data-aos-offset="200" class="h2 fw-700 line-height-3 text-white text-center anim-heading-title">
                        Hayalinizdeki evi tasarlamaya ne dersiniz?
                    </h2>
                    <a data-aos="fade-up" data-aos-delay="300" data-aos-duration="1500" data-aos-offset="200" href="/Contact/Index/" class="btn brand-btn text-uppercase mt-50 border-0">
                        <span class="z-1 position-relative">Şimdi Başla</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>