<!-- start inner page banner-->
<section class="inner-page-banner section-padding-bottom-xl section-padding-top-xl">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="inner-page-banner-wrapper d-flex justify-content-center align-items-center">
                    <h2 class="anim-text-hero h2 fw-700 line-height-3 text-center">
                        @ViewBag.innerTitle
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end inner page banner-->
