
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Home</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/archite/architeTemplate/img/favicon.ico">
    <!-- Fonts (google font) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=Tajawal:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Font awesome Stylesheet -->
    <link rel="stylesheet" href="~/archite/architeTemplate/css/all.min.css">
    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="~/archite/architeTemplate/css/bootstrap.min.css">
    <!-- Owl Carousel stylesheet -->
    <link rel="stylesheet" href="~/archite/architeTemplate/css/owl.carousel.css">
    <!-- Modal Video stylesheet -->
    <link rel="stylesheet" href="~/archite/architeTemplate/css/modal-video.min.css">
    <!-- Owl theme stylesheet -->
    <link rel="stylesheet" href="~/archite/architeTemplate/css/owl.theme.default.min.css">
    <!-- AOS stylesheet -->
    <link rel="stylesheet" href="~/archite/architeTemplate/css/aos.css">
    <!-- Animated heading stylesheet -->
    <link rel="stylesheet" href="~/archite/architeTemplate/css/jquery.animatedheadline.css">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="~/archite/architeTemplate/css/normalize.css">
    <!-- Main stylesheet -->
    <link rel="stylesheet" href="~/archite/architeTemplate/css/style.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="~/archite/architeTemplate/css/responsive.css">
</head>

<body>
    <main class="home-one overflow-x-hidden">
        <!-- start preloader -->
        <div class="placeholder-cs">
            <div class="preloader">
                <div class="preloader-inner"></div>
            </div>
        </div>


        <header class="header dark-header position-absolute top-0 left-0 z-3 w-100 pt-35">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="nav d-flex align-items-center justify-content-between">
                            <!-- logo -->
                            <div class="logo-container">
                                <a href="/">
                                    <img class="header-logo" src="~/archite/architeTemplate/img/Logo.png" alt="logo">
                                </a>
                            </div>
                            <div class="nav-menu d-flex align-items-center">
                                <ul class="header-menu d-none d-lg-flex flex-row align-items-center z-1 position-relative mr-35 menu">
                                    <li>
                                        <a class="menu-link text-uppercase fw-500" href="index.html">Home</a>
                                        <ul class="submenu-container">
                                            <li>
                                                <a class="submenu-link text-uppercase fw-500" href="index.html">
                                                    Home
                                                    1
                                                </a>
                                            </li>
                                            <li>
                                                <a class="submenu-link text-uppercase fw-500" href="index2.html">
                                                    Home
                                                    2
                                                </a>
                                            </li>
                                            <li>
                                                <a class="submenu-link text-uppercase fw-500" href="index3.html">
                                                    Home
                                                    3
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="menu-link text-uppercase fw-500" href="about.html">About Us</a>
                                    </li>
                                    <li>
                                        <a class="menu-link text-uppercase fw-500" href="services.html">Services</a>
                                    </li>
                                    <li>
                                        <a class="menu-link text-uppercase fw-500" href="portfolio.html">Portfolio</a>
                                    </li>
                                    <li>
                                        <a class="menu-link text-uppercase fw-500" href="blog.html">Blog</a>
                                    </li>
                                    <li>
                                        <a class="menu-link text-uppercase fw-500" href="contact.html">Contact Us</a>
                                    </li>
                                    <li>
                                        <a class="menu-link text-uppercase fw-500" href="index.html">Pages</a>
                                        <ul class="submenu-container">
                                            <li>
                                                <a class="submenu-link text-uppercase fw-500" href="blogDetails.html">
                                                    Blog
                                                    Details
                                                </a>
                                            </li>

                                            <li>
                                                <a class="submenu-link text-uppercase fw-500" href="portfolioDetails.html">Portfolio Details</a>
                                            </li>

                                            <li>
                                                <a class="submenu-link text-uppercase fw-500" href="servicesDetails.html">Services Details</a>
                                            </li>
                                            <li>
                                                <a class="submenu-link text-uppercase fw-500" href="team.html">Team</a>
                                            </li>
                                            <li>
                                                <a class="submenu-link text-uppercase fw-500" href="teamDetails.html">
                                                    Team
                                                    Details
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                                <div class="desktop-menu-offcanvas position-relative">
                                    <img class="off-canvas-icon" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" src="~/archite/architeTemplate/img/MenuToggleIcon.png" alt="menu toggle icon">
                                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                                        <div class="offcanvas-header">
                                            <img id="offcanvasRightLabel" class="header-logo offcanvas-title img-fluid" src="~/archite/architeTemplate/img/LogoTwo.png" alt="logo">
                                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                        </div>
                                        <div class="offcanvas-body">
                                            <ul class="accordion-menu">
                                                <li>
                                                    <div class="dropdownlink">
                                                        <span class="text-uppercase">Home</span>
                                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                    </div>
                                                    <ul class="submenuItems">
                                                        <li>
                                                            <a class="submenu-link text-uppercase fw-500" href="index.html">
                                                                Home
                                                                1
                                                            </a>
                                                        </li>
                                                        <li><a class="submenu-link text-uppercase fw-500" href="index2.html">Home 2</a></li>
                                                        <li><a class="submenu-link text-uppercase fw-500" href="index3.html">Home 3</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <div class="dropdownlink">
                                                        <span class="text-uppercase">
                                                            <a href="about.html">About Us</a>
                                                        </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="dropdownlink">
                                                        <span class="text-uppercase">
                                                            <a href="services.html">Services</a>
                                                        </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="dropdownlink">
                                                        <span class="text-uppercase">
                                                            <a href="portfolio.html">Portfolio</a>
                                                        </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="dropdownlink">
                                                        <span class="text-uppercase">
                                                            <a href="blog.html">Blog</a>
                                                        </span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="dropdownlink">
                                                        <span class="text-uppercase">Pages</span>
                                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                    </div>
                                                    <ul class="submenuItems">


                                                        <li><a class="submenu-link text-uppercase fw-500" href="servicesDetails.html">Services Details</a></li>

                                                        <li><a class="submenu-link text-uppercase fw-500" href="portfolioDetails.html">Portfolio Details</a></li>

                                                        <li><a class="submenu-link text-uppercase fw-500" href="blogDetails.html">Blog Details</a></li>
                                                        <li><a class="submenu-link text-uppercase fw-500" href="team.html">Taem</a></li>
                                                        <li><a class="submenu-link text-uppercase fw-500" href="teamDetails.html">Team Details</a></li>

                                                    </ul>
                                                </li>
                                                <li>
                                                    <div class="dropdownlink">
                                                        <span class="text-uppercase">
                                                            <a href="contact.html">Contact Us</a>
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header -->
        <div id="smooth-wrapper">
            <div id="smooth-content">

                @RenderBody()
               
                <footer class="footer-one">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 col-sm-5">
                                        <div class="logo mb-1">
                                            <img src="~/archite/architeTemplate/img/Logo.png" alt="logo">
                                        </div>
                                        <p class="p text-white fw-500 line-height-5 mt-15">
                                            Welcome to our interior design agency! Our team of experienced designers and decorators is passionate about creating beautiful, functional spaces that enhance our clients' lives. Welcome to our interior design agency!
                                        </p>
                                        <h2 class="fw-700 text-white mt-30 footer-email">info@email.com</h2>
                                    </div>
                                    <div class="col-12 col-sm-2 offset-sm-1">
                                        <div class="mt-5 mt-sm-0">
                                            <ul class="d-flex flex-column gap-4">
                                                <li><a class="fw-500 text-uppercase" href="index.html">home</a></li>
                                                <li><a class="fw-500 text-uppercase" href="about.html">about</a></li>
                                                <li>
                                                    <a class="fw-500 text-uppercase" href="services.html">services</a>
                                                </li>
                                                <li>
                                                    <a class="fw-500 text-uppercase" href="portfolio.html">portfolio</a>
                                                </li>
                                                <li><a class="fw-500 text-uppercase" href="blog.html">blog</a></li>
                                                <li>
                                                    <a class="fw-500 text-uppercase" href="contact.html">contact us</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="d-flex align-items-start mb-30 mt-5 mt-sm-0">
                                            <i class="fa-solid fa-location-dot brand-text d-inline-block mr-10 mt-2"></i>
                                            <h6 class="h6 fw-400 line-height-4 footer-address">
                                                901 N Pitt Str., Suite 170 Alexandria, NY, USA
                                            </h6>
                                        </div>
                                        <div class="d-flex align-items-start mb-30">
                                            <i class="fa-solid fa-phone-volume brand-text d-inline-block mr-10 mt-2"></i>
                                            <h6 class="h6 fw-400 line-height-4 footer-address">
                                                (406) 555-0120
                                            </h6>
                                        </div>
                                        <div class="d-flex align-items-start mb-30">
                                            <i class="fa-solid fa-phone-volume brand-text d-inline-block mr-10 mt-2"></i>
                                            <h6 class="h6 fw-400 line-height-4 footer-address">
                                                (406) 327-1246
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-100 d-flex justify-content-between align-items-center flex-column flex-xl-row">
                                    <div class="footer-one-social-container">
                                        <a class="btn dark-btn mr-30 mb-4 mb-lg-0" href="https://facebook.com">
                                            <span class="z-1 position-relative">Facebook</span>
                                        </a>
                                        <a class="btn dark-btn mr-30 mb-4 mb-lg-0" href="https://linkedin.com">
                                            <span class="z-1 position-relative">LinkedIn</span>
                                        </a>
                                        <a class="btn dark-btn mr-30 mb-4 mb-lg-0" href="https://instagram.com">
                                            <span class="z-1 position-relative">Instagram</span>
                                        </a>
                                        <a class="btn dark-btn mr-30 mb-4 mb-lg-0" href="https://twitter.com">
                                            <span class="z-1 position-relative">Twitter</span>
                                        </a>
                                        <a class="btn dark-btn mb-4 mb-lg-0" href="https://dribble.com">
                                            <span class="z-1 position-relative">Dribble</span>
                                        </a>
                                    </div>
                                    <p class="p fw-500 line-height-3 footer-copyright-text pt-4 pt-xl-0">
                                        Copyright 2023, All Right reserved
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end footer -->
            </div>
        </div>
        <span class="cs_scrollup">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 10L1.7625 11.7625L8.75 4.7875V20H11.25V4.7875L18.225 11.775L20 10L10 0L0 10Z"
                      fill="currentColor" />
            </svg>
        </span>
    </main>

    <!-- Jquery script -->
    <script src="~/archite/architeTemplate/js/jquery-3.6.4.min.js"></script>
    <!-- Bootstrap Script -->
    <script src="~/archite/architeTemplate/js/bootstrap.min.js"></script>
    <!-- Font awesome script -->
    <script src="~/archite/architeTemplate/js/all.min.js"></script>
    <!-- Modal video script -->
    <script src="~/archite/architeTemplate/js/jquery-modal-video.min.js"></script>
    <!-- Owl carousel script -->
    <script src="~/archite/architeTemplate/js/owl.carousel.min.js"></script>
    <!-- AOS script -->
    <script src="~/archite/architeTemplate/js/aos.js"></script>
    <!-- jQuery Counterup -->
    <script src="~/archite/architeTemplate/js/jquery.waypoints.min.js"></script>

    <!-- Preloader script -->
    <script src="~/archite/architeTemplate/js/jquery.preloader.min.js"></script>
    <!-- Jquery viewport checker script -->
    <script src="~/archite/architeTemplate/js/jquery.viewportchecker.min.js"></script>
    <!-- textyle script -->
    <script src="~/archite/architeTemplate/js/textyle.min.js"></script>
    <!-- animated headline script -->
    <script src="~/archite/architeTemplate/js/jquery.animatedheadline.min.js"></script>
    <!-- Main JS script -->
    <script src="~/archite/architeTemplate/js/gsap.min.js"></script>
    <script src="~/archite/architeTemplate/js/ScrollSmoother.min.js"></script>
    <script src="~/archite/architeTemplate/js/ScrollToPlugin.min.js"></script>
    <script src="~/archite/architeTemplate/js/ScrollTrigger.min.js"></script>
    <script src="~/archite/architeTemplate/js/SplitText.min.js"></script>
    <script src="~/archite/architeTemplate/js/main.js"></script>
</body>

</html>