
@using ArchitectureProject.Models.Entity

@model List<Team>

@{
    ViewBag.Title = "ATeamList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xl-3 col-md-6">
            <div class="card">
                <div class="card-body widget-user">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 avatar-xxl me-3">
                            <img src="@item.Image" class="img-fluid rounded-circle" alt="user">
                        </div>
                        <div class="flex-grow-1 overflow-hidden">
                            <h5 class="mt-0 mb-1">@item.Name</h5>
                            <p class="text-muted mb-2 font-13 text-truncate">@item.Job</p>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- end col -->

    }
</div>

