<!-- start count -->
<section class="count-one section-padding-bottom-xl section-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-6 col-xl-3 amin-count-funcat">
                <div class="count-one-border position-relative py-3 py-sm-3 py-lg-4 py-xl-0">
                    <div class="counter-container">
                        <h1 class="h1 dark-text"><span class="amin-auto-count">46</span>K</h1>
                        <h4 class="h4 fw-400 line-height-1 body-text">
                            Project Completed
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-3 amin-count-funcat">
                <div class="count-one-border position-relative py-3 py-sm-3 py-lg-4 py-xl-0">
                    <div class="counter-container">
                        <h1 class="h1 dark-text"><span class="amin-auto-count">3</span>K</h1>
                        <h4 class="h4 fw-400 line-height-1 body-text">
                            Happy customers
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-3 amin-count-funcat">
                <div class="count-one-border position-relative py-3 py-sm-3 py-lg-4 py-xl-0">
                    <div class="counter-container">
                        <h1 class="h1 dark-text"><span class="amin-auto-count">26</span></h1>
                        <h4 class="h4 fw-400 line-height-1 body-text">
                            Years Experiences
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-3 amin-count-funcat">
                <div class="position-relative py-3 py-sm-3 py-lg-4 py-xl-0">
                    <div class="counter-container">
                        <h1 class="h1 dark-text"><span class="amin-auto-count">24</span></h1>
                        <h4 class="h4 fw-400 line-height-1 body-text">
                            Awards Achievement
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end count -->