<!-- start features -->
<section class="features-one section-padding-top-xl section-padding-bottom-xl">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div>
                            <h2 class="h2 body-text-two fw-700 line-height-3 text-white anim-heading-title">
                                Core Features of Our Interior Design Agency
                            </h2>
                            <p class="text-white fw-500 line-height-5 mt-40 position-relative pe-0 pe-lg-5">
                                Welcome to our interior design agency! Our team of experienced designers and decorators is passionate about creating beautiful, functional spaces that enhance our client's lives.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="mt-5 mt-lg-0">
                            <div class="position-relative">
                                <img src="~/archite/architetemplate/img/featuresVideoBg.png" class="img-no-hover-effect features-bg-img" alt="features video background">
                                <a href="#" class="js-video-button features-video-animation" data-video-id='Us442Oh-znE'>
                                    <img src="~/archite/architetemplate/img/playIconWhite.png" class="img-fluid features-play-icon" alt="features image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature-items">
                    <div class="row gy-5 gy-sm-0">
                        <div class="col-12 col-sm-4">
                            <div class="feature-one-box">
                                <p class="brand-text fw-700 feature-one-number-top">01</p>
                                <h5 class="h5 text-white fw-700 line-height-3">
                                    Creativity
                                </h5>
                                <p class="text-white fw-500 line-height-5 mt-10 position-relative pe-0 pe-lg-5">
                                    Welcome to our interior design agency! Our team of experienced designers.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="feature-one-box">
                                <p class="brand-text fw-700 feature-one-number-top">02</p>
                                <h5 class="h5 text-white fw-700 line-height-3">
                                    Management
                                </h5>
                                <p class="text-white fw-500 line-height-5 mt-10 position-relative pe-0 pe-lg-5">
                                    Welcome to our interior design agency! Our team of experienced designers.
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="feature-one-box">
                                <p class="brand-text fw-700 feature-one-number-top">03</p>
                                <h5 class="h5 text-white fw-700 line-height-3">
                                    Space Planning
                                </h5>
                                <p class="text-white fw-500 line-height-5 mt-10 position-relative pe-0 pe-lg-5">
                                    Welcome to our interior design agency! Our team of experienced designers.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features -->