
@using ArchitectureProject.Models.Entity
@model List<Services>

<!-- start services -->
<section class="services-one section-padding-top-xl section-padding-bottom-xl bg-black">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <h2 class="h2 text-black line-height-3 anim-heading-title text-white text-uppercase">
                                PROFESYONEL HİZMETLERİMİZ
                            </h2>
                        </div>
                        <div class="col-12 col-sm-6">
                        </div>
                    </div>
                </div>
                <div class="service-one-card-container mt-80 position-relative">
                    <div class="owl-carousel owl-theme">

                        @foreach (var item in Model)
                        {
                            <div class="item service-one-card position-relative">
                                <div class="service-imag">
                                    <img src="@item.Image" class="w-100 position-relative" alt="Service Images">
                                </div>
                                <div class="position-absolute service-one-contents z-1">
                                    <h5 class="h5 fw-700 text-white line-height-3 mb-25">
                                        @item.Title
                                    </h5>
                                    <p class="p text-white fw-500 line-height-5 mb-65">
                                        @item.ShortContent
                                    </p>
                                    <a class="btn p-0 text-white text-uppercase fw-500" href="about.html">
                                        <span class="me-2">Devamını Oku</span> <i class="fa-solid fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end services -->
