<!-- start video -->
<section class="intro-video-one section-padding-bottom section-padding-top position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="video-title">
                    <div class="intro-video-title">
                        <h2 class="h2  fw-700 line-height-3 mb-70 intro-video-title anim-heading-title">
                            Tasarım Cenneti Yeni Mekanınızı İlham Veren Güzel Mekanlar Oluşturuyor
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-area position-relative">
        <div class="contact-container">
            <div class="row">
                <div class="col-12">
                    <div class="video-thumbnail-container text-center">
                        <a href="index.html" class="js-video-button intro-video-animation" data-video-id='Us442Oh-znE'>
                            <img src="~/archite/architetemplate/img/videoPlay.png" alt="video play icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end video -->