<!-- start team-->
<section class="team-one section-padding-top section-padding-bottom bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div>
                    <h2 class="h2  line-height-3  anim-heading-title">
                        Our Dedicated Interior Designer Team
                    </h2>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="about-one-first-text-box">
                    <p class="p body-text fw-500 line-height-5">
                        Welcome to our interior design agency! Our team of experienced designers and decorators is passionate about creating beautiful, functional spaces that enhance our clients' lives. Welcome to our interior design agency!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="team-one-card-container mt-100">
        <div class="team-one-card-carousel">
            <div class="owl-carousel owl-theme">
                <div class="team-one-item position-relative">
                    <div class="team-img">
                        <img class="img-fluid" src="~/archite/architetemplate/img/teamMemberOne.jpg" alt="team member">
                    </div>
                    <div class="team-one-card-info">
                        <h6 class="h6 text-white fw-700 line-height-3">
                            Gerald K. Banks
                        </h6>
                        <p class="p body-text fw-500 line-height-5">
                            UI/UX Designer
                        </p>
                    </div>
                    <div class="team-member-details d-flex flex-column">
                        <div class="member-details-social d-flex align-items-center">
                            <a class="mx-2" href="https://facebook.com">
                                <i class="fa-brands fa-facebook-f fs-5"></i>
                            </a>
                            <a class="mx-2" href="https://linkedin.com">
                                <i class="fa-brands fa-linkedin-in fs-5"></i>
                            </a>
                            <a class="mx-2" href="https://twitter.com">
                                <i class="fa-brands fa-twitter fs-5"></i>
                            </a>

                        </div>
                        <a class="btn light-btn mt-20" href="teamDetails.html">
                            <span class="z-1 position-relative">Read More</span>
                        </a>
                    </div>
                </div>
                <div class="team-one-item position-relative">
                    <div class="team-img">
                        <img class="img-fluid" src="~/archite/architetemplate/img/teamMemberTwo.jpg" alt="team member">
                    </div>
                    <div class="team-one-card-info">
                        <h6 class="h6 text-white fw-700 line-height-3">
                            Gerald K. Banks
                        </h6>
                        <p class="p body-text fw-500 line-height-5 ">
                            UI/UX Designer
                        </p>
                    </div>
                    <div class="team-member-details d-flex flex-column">
                        <div class="member-details-social d-flex align-items-center">
                            <a class="mx-2" href="https://facebook.com">
                                <i class="fa-brands fa-facebook-f fs-5"></i>
                            </a>
                            <a class="mx-2" href="https://linkedin.com">
                                <i class="fa-brands fa-linkedin-in fs-5"></i>
                            </a>
                            <a class="mx-2" href="https://twitter.com">
                                <i class="fa-brands fa-twitter fs-5"></i>
                            </a>

                        </div>
                        <a class="btn light-btn mt-20" href="teamDetails.html">
                            <span class="z-1 position-relative">Read More</span>
                        </a>
                    </div>
                </div>
                <div class="team-one-item position-relative">
                    <div class="team-img">
                        <img class="img-fluid" src="~/archite/architetemplate/img/teamMemberThree.jpg" alt="team member">
                    </div>
                    <div class="team-one-card-info">
                        <h6 class="h6 text-white fw-700 line-height-3">
                            Gerald K. Banks
                        </h6>
                        <p class="p body-text fw-500 line-height-5 ">
                            UI/UX Designer
                        </p>
                    </div>
                    <div class="team-member-details d-flex flex-column">
                        <div class="member-details-social d-flex align-items-center">
                            <a class="mx-2" href="https://facebook.com">
                                <i class="fa-brands fa-facebook-f fs-5"></i>
                            </a>
                            <a class="mx-2" href="https://linkedin.com">
                                <i class="fa-brands fa-linkedin-in fs-5"></i>
                            </a>
                            <a class="mx-2" href="https://twitter.com">
                                <i class="fa-brands fa-twitter fs-5"></i>
                            </a>

                        </div>
                        <a class="btn light-btn mt-20" href="teamDetails.html">
                            <span class="z-1 position-relative">Read More</span>
                        </a>
                    </div>
                </div>
                <div class="team-one-item position-relative">
                    <div class="team-img">
                        <img class="img-fluid" src="~/archite/architetemplate/img/teamMemberFour.jpg" alt="team member">
                    </div>
                    <div class="team-one-card-info">
                        <h6 class="h6 text-white fw-700 line-height-3">
                            Gerald K. Banks
                        </h6>
                        <p class="p body-text fw-500 line-height-5 ">
                            UI/UX Designer
                        </p>
                    </div>
                    <div class="team-member-details d-flex flex-column">
                        <div class="member-details-social d-flex align-items-center">
                            <a class="mx-2" href="https://facebook.com">
                                <i class="fa-brands fa-facebook-f fs-5"></i>
                            </a>
                            <a class="mx-2" href="https://linkedin.com">
                                <i class="fa-brands fa-linkedin-in fs-5"></i>
                            </a>
                            <a class="mx-2" href="https://twitter.com">
                                <i class="fa-brands fa-twitter fs-5"></i>
                            </a>

                        </div>
                        <a class="btn light-btn mt-20" href="teamDetails.html">
                            <span class="z-1 position-relative">Read More</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end team -->
