
@using ArchitectureProject.Models.Entity
@model List<Team>

<!-- start team-->
<section class="team-one section-padding-top section-padding-bottom bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div>
                    <h2 class="h2  line-height-3  anim-heading-title">
                        Takımımız
                    </h2>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="about-one-first-text-box">
                    <p class="p body-text fw-500 line-height-5">
                        İç tasarım ajansımıza hoş geldiniz! Deneyimli tasarımcı ve dekoratörlerimizden oluşan ekibimiz, müşterilerimizin hayatlarını güzelleştiren estetik ve işlevsel mekanlar yaratma konusunda tutkuludur. İç tasarım ajansımıza hoş geldiniz!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="team-one-card-container mt-100">
        <div class="team-one-card-carousel">
            <div class="owl-carousel owl-theme">

                @foreach (var item in Model)
                {
                    <div class="team-one-item position-relative">
                        <div class="team-img">
                            <img class="img-fluid" src="@item.Image" alt="team member">
                        </div>
                        <div class="team-one-card-info">
                            <h6 class="h6 text-white fw-700 line-height-3">
                                @item.Name
                            </h6>
                            <p class="p body-text fw-500 line-height-5">
                                @item.Job
                            </p>
                        </div>
                        <div class="team-member-details d-flex flex-column">
                            <div class="member-details-social d-flex align-items-center">
                                <a class="mx-2" href="https://facebook.com">
                                    <i class="fa-brands fa-facebook-f fs-5"></i>
                                </a>
                                <a class="mx-2" href="https://linkedin.com">
                                    <i class="fa-brands fa-linkedin-in fs-5"></i>
                                </a>
                                <a class="mx-2" href="https://twitter.com">
                                    <i class="fa-brands fa-twitter fs-5"></i>
                                </a>

                            </div>
                            <a class="btn light-btn mt-20" href="teamDetails.html">
                                <span class="z-1 position-relative">Devamını Oku</span>
                            </a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
<!-- end team -->
