
@using ArchitectureProject.Models.Entity
@model List<Contact>

@{
    ViewBag.Title = "AContactList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">

    <div class="col-sm-12">
        <div class="inbox-app-main">
            <div class="row">
                <div class="col-md-3">
                    <aside id="sidebar">
                        <div class="h-100" data-simplebar>

                            <div class="text-center">
                                <a id="email-left-content" data-bs-toggle='modal' data-bs-target="#custom-modal" class="btn btn-danger rounded-pill width-lg waves-effect waves-light mb-2 mt-3" data-animation="fadein" data-plugin="custommodal" data-overlayColor="#36404a">Mesajlar</a>
                            </div>

                            <menu class="menu-segment">
                                <ul class="list-unstyled">
                                    <li class="active">
                                        <a href="javascript:void(0);">Gelen Kutusu</a>
                                    </li>
                                </ul>
                            </menu>


                            <div class="bottom-padding"></div>
                        </div>
                    </aside>
                </div> <!-- end col -->

                <div class="col-md-9">
                    <main id="main">
                        <div class="overlay"></div>
                        <header class="header">

                            <h1 class="page-title">
                                <a class="sidebar-toggle-btn trigger-toggle-sidebar">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                    <span class="line"></span>
                                    <span class="line line-angle1"></span>
                                    <span class="line line-angle2"></span>
                                </a>
                            </h1>

                        </header>

                        <div id="main-nano-wrapper" class="nano">
                            <div class="nano-content h-100" data-simplebar>
                                <ul class="message-list">

                                    @foreach (var item in Model)
                                    {
                                        <li class="unread">
                                            <div class="mail-col mail-col-1">
                                                <span class="dot"></span>
                                                <div class="checkbox-wrapper-mail">
                                                    <input type="checkbox" id="chk1">
                                                    <label for="chk1" class="toggle"></label>
                                                </div>
                                                <a href="/Contact/AContactDetail/@item.ContactID"><p class="title">@item.Name</p></a>
                                                <span class="star-toggle far fa-star"></span>
                                            </div>
                                            <div class="mail-col mail-col-2">
                                                <div class="subject">
                                                    @if (item.Message.Length > 100)
                                                    {
                                                        @item.Message.Substring(0, 100)
                                                    }
                                                    else
                                                    {
                                                        @item.Message
                                                    }
                                                </div>
                                                <div class="date">@item.DateContact.Value.Hour.@item.DateContact.Value.Minute </div>                                                
                                            </div>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>
                    </main>

                </div> <!-- end col -->
            </div><!-- end row -->
        </div>

    </div>

</div>
